.banner{
    margin-top: 10vh;
    height: 80vh;
    margin-bottom: 50px;
    color: white;
    object-fit: contain;
}

.banner_contents{
    margin-left: 30px;
    padding-top: 300px;

}
.banner_title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;

}

.banner_description{
    width: 45rem;
    line-height: 1;
    padding: 1rem 0;
    max-width: 36px;
    height: 20px;
    
}